body {
    margin: 0;
}

.tracking-model-button {
    width: 100%;
    opacity: 1.0;
}

.tracking-model-button-inactive {
    width: 100%;
    opacity: 0.1;
}
#tracking-start-stop-button{
    position: absolute;
    bottom: 0;
    width: 50%;
    right: 0;
    left: 0;
    max-width: 100px;
    margin: auto;
}

#tracking-screenshot-button{
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    max-width: 100px;
    margin: auto;
}

.ui-mobile-viewport, .ui-overlay-a, .ui-page, .ui-page-theme-a, .ui-page-active, .ui-panel-wrapper{
    background: none !important;
    background-color: rgba(255, 255, 255, 0) !important;
}​
.active {

}

